<legend>Search Flights</legend>
<div class="box">
	<form>
		<div class="form-group">
			<label for="orgin">Origin</label> 
			<input type="text" class="form-control" id="orgin" placeholder="Enter Origin Airport Code"> 
		</div>
		<div class="form-group">
			<label for="destination">Destination</label> 
			<input type="text" class="form-control" id="destination" placeholder="Enter Destination Airport Code"> 
		</div>
		<div class="form-group">
			<label for="adultCount">No. of Adults</label> 
			<input type="number" class="form-control" min="1" max="10" id="adultCount"> 
		</div>
		<div class="form-group">
			<label for="childCount">No. of Children</label> 
			<input type="number" class="form-control" min="0" max="10" id="childCount"> 
		</div>
		<button type="submit" class="btn btn-default">Search</button>
	</form>
</div>